[MASTER]
ignore=pycache, migrations, .venv, frontend
jobs=1
py-version=3.11

[MESSAGES CONTROL]
disable=unused-import, import-error, wrong-import-order, wrong-import-position, too-many-arguments, duplicate-code, missing-docstring, line-too-long, parse-error

[REPORTS]
reports=no
score=no

[FORMAT]
max-line-length=100
indent-string='    '

[IMPORTS]
known-standard-library=sys, os, datetime, json
known-third-party=pandas, azure, openai